<div class="container">
    <h1 class="header">Your Cart</h1>
  
    <div class="empty-cart" *ngIf="cartItems.length === 0">
      You didn't choose any pet. You can search it in catalog page.
    </div>
    <ul class="cart" *ngIf="cartItems.length > 0">
      <li class="cart-item" *ngFor="let pet of cartItems">
        <div class="product">
          <div class="product-details">
            <img [src]="getImageUrl(pet)" [alt]="pet.name" />
            <div class="product-info">
              <div class="name">{{ pet.name }}</div>
              <div class="description">{{ pet.breed }}</div>
              <div class="category">Pet Type: {{ pet.type }}</div>
            </div>
          </div>
          <div class="price">
            <div>
              {{ pet.pricePerDay }}
            </div>
          
            <button (click)="removeFromCart(pet)">Remove</button>
          </div>
        </div>
      </li>


<!-- <h1 class="header">Call 123-456-780 to check pets availability</h1> -->

<div class="contact-us">

  <button >Contact us to check pets availability</button>

</div>





    </ul>
    <div class="total">Total: {{ cartTotal }}</div>
  </div>