/* Tags */
/* Classes */
/* Sections */
/* COLORS

#424874 - granat
#CACFD6 - szary



 */
/* h1{
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
} */


















/* Navbar Section */
#navbar {
  background: black;
  padding: 0% 5% 0% 5%;
  width: 100%;
}


/* .nav-blue{
  background: #424874;
} */

.navbar-logo-img {
  width: 30%;
  /* padding: 5%; */
  background-color: gray;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.5rem;
}

/* .nav-item:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
} */



.section-black{
background-color: black;
}


.section-white{
  background-color: white;
  }

.nav-link-white{
  color: white;
  text-decoration: none;
}

.inside-container{

  padding: 0% 5% 0% 5%;
  width: 100%;
  height: 500px;


}

.white-text{
  color: white;
}

.black-text{
  color: black;
}



/* home section */


/* .job-title{

font-weight: bold;
} */

.text-in-center-of-the-screen{


  align-items: center;


}